/*
* Main Layout
*/

*{
	margin:0;
	padding: 0;
}

body{
	margin: 0;
	top:0;
	width:100%;
	font-family: "Avantgarde", sans-serif;
	/*background-image: url(../img/wallpaperHD.jpg);
	background-repeat: no-repeat;

	-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 200%;*/
    background-color: rgba(236, 240, 241,1.0);
    font-family: 'Raleway', sans-serif;;
}

div.content{
	margin-top: 2em;
	padding:0;
	height: 80%;
}

/*
* Titles and text 
*/

h1, h2{
	font-weight: normal;
	margin-bottom: 1em;
}

h2{
	margin-left: 1em;
}

p{
	margin-left: 2em;
}


div.content div.titleDisplay, div.content fieldset{
	width:80%;
	margin: auto;
	padding: 2%;
	color:white;
	margin-top: 40px;
	background-color: rgba(52, 152, 219,1.0);
	/*background-color: rgba(155, 89, 182,1.0);*/
}


div.content div.textDisplay, div.content div.by2{
	border:solid black 1px;	
	/*background-color: rgba(236, 240, 241,1.0);*/
}

div.content div.textDisplay {
	margin-left: 2%;
	padding:2em;
	float:left;
	display: inline;
	width:50%;
}

div.rightDisplay{
	display: block;
	width:80%;
	margin-top: 2em;
	padding-top:2em;
	margin: auto;
}

div.textDisplay p{
	margin-bottom: 1em;
	margin-left: 1em;
}

div.tableDisplay{
	/*background-color: rgba(155, 89, 182,0.7);*/
	display: inline-block;
	color:black;
}

div.tableDisplay table{
	margin-left: auto;
	margin-right: auto;
	width:100%;
}

div.equals{
	width:49%;
}

div.left{
	float: left;
}
div.right{
	float: right;
}

/**
* ul and li 
*/

div.textDisplay ul
{
	padding: 1em;
	padding-top: 0;
}
div.textDisplay li
{
	list-style: none;
	padding-left: 1em;
}

div.concrete{
	color:black;
}

div.gmapHeader{
	margin:0;
}