@media (max-width: 700px) {

div.content{
	padding:1em;
	margin-bottom: 0;
	margin-top:3em;
}
div.content div.textDisplay{
	margin: 0;
	margin-bottom:1em;
	padding: 1em;
	width:95%;
	float:none;
}
div.rightDisplay{
	margin: 0;
	width:100%;
	float:none;
}

div.tableDisplay{
	margin: 0;
	margin-bottom: 1em;
}
}