@media (max-width: 700px) {


div.content div.textDisplay{
	margin: 0;
	margin-bottom:1em;
	margin-left: 10%;
	padding: 1em;
	width:80%;
	float:none;
}
div.rightDisplay{
	margin: 0;
	margin-left: 10%;
	width:85%;
	float:none;
}

div.tableDisplay{
	margin: 0;
	margin-bottom: 1em;
}
}