/*
* Main Layout
*/

*{
	margin:0;
	padding: 0;
}

body{
	margin: 0;
	top:0;
	font-family: "Avantgarde", sans-serif;
	background-image: url(../img/wallpaper.jpg);
	background-repeat: no-repeat;

	-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

div.content{
	margin-top: 3em;
	padding:0;
}

/*
* Titles and text 
*/

h1, h2{
	font-weight: normal;
	margin-bottom: 1em;
}

h2{
	margin-left: 1em;
}

p{
	margin-left: 2em;
}

a{
	text-decoration: none;
	color:white;
}

a:hover{
}


div.tableDisplay, fieldset{

}

div.content div.titleDisplay{
	margin-top: 2%;
	margin-left: 2%;
	padding: 2%;
	float:left;
	/*rgb(52, 152, 219)*/
	display: inline;
	background-color: rgba(52, 152, 219,0.5);
}


div.content div.textDisplay, div.content div.by2{
	background-color: #ecf0f1;
	border:solid black 1px;	
}

div.content div.textDisplay{
	margin-top: 2%;
	margin-left: 2%;
	padding:2em;
	float:left;
	/*rgb(52, 152, 219)*/
	display: inline;
	color:black;
	width:50%;
}

div.rightDisplay{
	display: inline;
	width:32%;
	float:right;
	margin-right: 3em;
	padding-top:2%;
}

div.textDisplay p{
	margin-bottom: 1em;
	margin-left: 1em;
}

div.tableDisplay{
	padding: 1em;
	margin-bottom: 1em;
	background-color: #2980b9;
	border:solid black 1px;
}

div.tableDisplay table{
	font-size: 15px;
	margin-left: auto;
	margin-right: auto;
	width:100%;
	max-width: 300px;
}

/**
* ul and li 
*/

div.textDisplay ul
{
	padding: 1em;
	padding-top: 0;
}
div.textDisplay li
{
	list-style: none;
	padding-left: 1em;
}