ul.navbar{
	/*Color*/
	/*background-color:#e74c3c; 
	*/
	background-color: #2980b9;
	/*Size*/
	height: 3em;
	width:100%;

	/*Position*/
	position:top;
	position:fixed;
	top:0px;
}

ul.navbar li{	

	/*Position*/
	padding-top: 1em;
	padding-left: 1em;
	display: inline-block;

	/*Text*/
	color:black;
	font-family:"Avantgarde",sans-serif;
}

ul.navbar li.accountButtons{
	float:right;
	padding-right: 1em;
}

/*
* Action Design
*/
ul.navbar li:hover{
	color:white;
	cursor: pointer;
}

/*
* Submenu
*/
div.submenu{
	list-style: none;
	float;right;
	margin-bottom: 1em;
	padding: 0.3em;
	width:auto;
	text-align: center;
}