ul.navbar{
	/*Color*/
	/*background-color:#e74c3c; 
	*/
	background-color: #FF1C1C;
	/*Size*/
	height: 3em;
	width:100%;

	/*Position*/
	position:top;
	position:fixed;
	top:0px;
}

ul.navbar li{	

	/*Position*/
	padding-top: 1em;
	padding-left: 1em;
	display: inline-block;

	/*Text*/
	color:black;
	font-family:"Avantgarde",sans-serif;
}

ul.navbar li.accountButtons{
	float:right;
	padding-right: 1em;
}

/*
* Action Design
*/
ul.navbar li:hover{
	color:white;
	cursor: pointer;
}

/*
* Submenu
*/
div.submenu{
	list-style: none;
	position: fixed;
	top: 3em;
	height: 100%;
	right: 0;
	padding:.5em;
	padding-right: 0.2em;
}

div.submenu ul li{
	list-style: none;
	margin-bottom:.5em;
}