ul.navbar{
	/*Color*/
	/*background-color:#e74c3c; 
	*/
	/*185*/
	background-color: rgb(41, 100, 255);
	/*Size*/
	height: 40px;
	display: block;
	width:100%;

	/*Position*/
	position:fixed;
	top:0;
}

ul.navbar li{	

	/*Position*/
	display: inline-block;
	position: relative;
	padding-left: 5px;
	height: 100%;
	vertical-align: middle;
	/*Text*/
	color:black;
	font-family:"Avantgarde",sans-serif;
}

ul.navbar li a{
	vertical-align: bottom;
	text-align: center;
	display: block;
	height: 100%;
	padding-top:10px;
}

ul.navbar li.accountButtons{
	float:right;
	padding-right: 1em;
}

/*
* Action Design
*/
ul.navbar li:hover{
	color:white;
	cursor: pointer;
}

/*
* Submenu
*/
div.submenu{
	list-style: none;
	position: fixed;
	top: 3em;
	height: 100%;
	right: 0;
	padding:.5em;
	padding-right: 0.2em;
	/* 166 */
	background-color: rgba(149, 165, 166,0.2);
}

div.submenu ul li{
	list-style: none;
	margin-bottom:.5em;
}