table{
	font-size: 0.5em;
    border-collapse:collapse;
    border:solid black 1px;
    color:black;
}

table a{
	color:black;
	display: block;
}

tr:hover{
	color:black;
}
tr{
	background-color: white;
}
th{
	background-color: #2980b9;
}
th, td {
	font-weight: normal;
	text-align: left;
	padding: 1em;
	padding-top: .5em;
	padding-bottom: .5em;
}