table{
    border-collapse:collapse;
    /*border:solid black 1px;*/
    color:black;
	background-color: #ecf0f1;
	top:0;
	margin-top:0px;
	background-color: red;

}
table.full{
	width:90%;
}
table a{
	/*color:black;*/
	display: block;
}

tr:hover{
	/*color:black;*/
}
tr{
	border-top: solid lightgrey 1px;
	background-color: white;

}
tr.header{
	border-top: none;
	color:#2980b9;
}
th{
	/*background-color: #2980b9;
	*/
}
th, td {
	font-weight: normal;
	text-align: left;
	padding: 1em;
	padding-top: .5em;
	padding-bottom: .5em;
}