table{
	font-size: 0.5em;
    border-collapse:collapse;
    color:white;
}

tr{
	background-color: #e74c3c;
}
tr:hover{
	background-color: #ecf0f1;
	color:black;
}

th{
	background-color: #c0392b;
}

th, td {
	font-weight: normal;
	text-align: left;
	padding: 1em;
	padding-top: .5em;
	padding-bottom: .5em;
}